### IDE
.idea
.vscode
typings

### Logs
logs
*.log
nohup.out

### Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

### Non-SDK stuff
lib
test
config
migration

winston-options.json
gulpfile.js
README.md
.eslintrc
.gitignore
.git